.error {
    color: red;
    font-weight: bold;
}
.message {
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
}
.confirmation {
    color: green;
    font-weight: bold;
}
